.button-add {
    margin-bottom: 16px;
    color: var(--dark-orange) !important;
    border-color: var(--dark-orange) !important;
    display: flex;
}

.button-generate {
    background-color: var(--orange) !important;
    color: white !important;
}

.dialog-title {
    /* background-color: var(--deep-black); */
    color: var(--orange);
}

/* .dialog-content {
    background-color: var(--deep-black);
} */

/* .dialog-actions {
    background-color: var(--deep-black);
} */

.input-field {
    margin-bottom: 16px;
    input {
        color: white;
    }
    label {
        color: white;
    }
}
