.button-add {
    margin-bottom: 16px;
    color: var(--dark-orange) !important;
    border-color: var(--dark-orange) !important;
    display: flex;
}

.button-generate {
    background-color: var(--orange) !important;
    color: white !important;
}

.dialog-title {
    /* background-color: var(--deep-black); */
    color: var(--orange);
    /* margin-bottom: 36px !important; */
}

/* .dialog-content {
    margin: 40px !important;
} */

/* .dialog-actions {
    background-color: var(--deep-black);
} */

.input-field {
    margin-top: 8px !important;
    input {
        color: rgb(0, 0, 0);
    }
    label {
        color: rgb(117, 116, 116);
    }
}
