.entity.per {
    background-color: #ffd54f; /* Cor de fundo para entidades do tipo "per" */
    padding: 2px 4px; /* Adicione padding para espaçamento */
    border-radius: 3px; /* Arredondamento dos cantos */
}

.entity.loc {
    background-color: #4fc3f7; /* Cor de fundo para entidades do tipo "loc" */
    padding: 2px 4px; /* Adicione padding para espaçamento */
    border-radius: 3px; /* Arredondamento dos cantos */
}

.entity.misc {
    background-color: #c24ff7; /* Cor de fundo para entidades do tipo "loc" */
    padding: 2px 4px; /* Adicione padding para espaçamento */
    border-radius: 3px; /* Arredondamento dos cantos */
}

