@import '../../colors.css';

.container-contract {
    margin-top: 32px;
    border: 1px solid var(--orange);
    border-radius: 8px;
    padding: 24px;
}

.title {
    color: var(--orange);
}

.subtitle {
    color: var(--orange);
}

.list {
    /* background-color: var(--brown); */
    border-radius: 8px;
}

.list-item {
    /* background-color: var(--dark-brown); */
    margin-bottom: 8px;
    border-radius: 8px;
}

.list-item-text {
    color: white;
}

.button-add {
    margin-bottom: 16px;
    color: var(--dark-orange);
    border-color: var(--dark-orange);
}


.input-field {
    margin-bottom: 16px;
    input {
        color: rgb(0, 0, 0);
    }
    label {
        color: rgba(94, 94, 94, 0.712);
    }
}

.button-generate {
    background-color: var(--orange);
    color: white;
}